li{
	list-style-type: none;
}
body,html,.page{
	height: 100%;
}
/*---------------header------------------*/
header{
	max-height: 4em;
	background-color:white ;
	position: fixed;
	top: 0;
	/*margin: 0 auto;*/
	width: 100%;
	z-index: 2000;
	box-shadow: 0 0.25em 1em rgba( 0, 204, 102,0.15);

}
.topNav{
	width: 80%;
	margin: 0 auto;
	height: inherit;
	display: flex;
	flex-direction: row-reverse;
	/*border-bottom: 1px solid #003333;*/
	/*align-items: center;*/

}
.openSideBar{
	cursor: pointer;
}
.topNav img{
	max-height: 4em;
}
.topNav a{
	margin: 0 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: 6em;
}

.topNav a{
	height: inherit;
	color:#00CC66 ;
	/*font-weight: 600;*/
	font-size: 1.25em;
	transition: color .5s ease;
}
.topNav a:hover{
	color:#00CC66;
	text-decoration: none;
}
.topNav a:visited,.topNav a:active,.topNav a:focus{
	text-decoration: none;
}

.topNav .lastNavItem{
	margin-right: auto;
}


/*------------------main----------------------*/
main{
	padding-top: 4em;
}
main .container-fuild .row{
	margin-bottom: 1em;
	/*border-bottom: 1px solid #f1f1f1;*/

}
tfoot{
	text-align:center;
	letter-spacing: 0.25em;
}
tfoot:hover{
	background-color: #f1f1f1;
}
tfoot a,tfoot a:hover,tfoot a:active,tfoot a:link,tfoot a:visited{
	color: #00CC66;
	text-decoration: none;
	display: block;
	width: 100%;
}
.row{
	background-color: #f9f9f9;

}
.smallTopNav{
	width: 80%;
	margin: 0 auto;
	border-bottom: 1px solid #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color:#00CC66;
}
.smallTopNav img{
	max-height: 4em;
}
.topH{
	height: 6em;
	background-color: #00CC66;
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}
.imgDiv{
	border-radius: 0.2em;
	border: 1px solid #f1f1f1;
	background-color: white;
}
.adp{
	width: 100%;	
}

.desDiv{
	display: flex;
	align-items: space-between;
	justify-content: space-between;
	flex-wrap: wrap;

}
.desDiv>div{
	background-color: white;
	height: 10em;
	border-radius: 0.75em;
	border:1px solid #f1f1f1;
	display: flex;
	align-items: center;
	justify-content: center;
}
.desDiv .msgDiv{
	margin-right: 1em;
}
.desDiv>div>div{
	color: #308D68;
}
.desDiv>div i{
	color: #308D68;

}
.fakeItem:hover{
	border: 1px solid #308D68;
}
/*-----------------sidebar---------------------*/

aside{
	width: 20%;
	min-width: 226px;
	margin-right: 80%;
	background-color: #003333;
	box-shadow: 1.5em 0.5em 1.5em #f0f9f5;
	height: 100%;
	position: fixed;
	left: 0;
	top:4em;
}
aside .sideNav ul{
	padding: 0 2em;
	font-size: 1.25em;
	color: #00FF99;
}
aside .sideNav ul .liItems{
	display:flex;
	justify-content: space-between;
	align-content: center;
	width: inherit;

	max-height: 2em;
	margin-top: 1em;
}
aside .sideNav ul li:hover{
	border-right: 0.15em solid #00CC66;
	cursor: pointer;
}
aside .sideNav ul li i{
	margin-top: 0.2em;
	margin-right: 1em;
	/*display: block;*/
	/*margin-left: auto;*/
	/*height: 1em;*/
	/*vertical-align: middle;*/
}
aside .sideNav ul li p{
	/*vertical-align: middle;*/
	letter-spacing: 0.5em;
	/*height: 1em;*/
}
aside .sideNav ul li span{
	margin-left: auto;
}
.liItems div{
	padding: 0.15em 0;
}
.showAside{
	background-color: white;
	z-index: 6000;
}
.alert{
	position: absolute;
	bottom: 10%;
	right:-60%;
}
/*----------------footer----------------------*/
footer{
	text-align:center;
}