 /*-----------header--------------*/



/*-------------------main---------------------*/
.addBankAccount{
	display: none;
}
.addBankAccount .form-control{
	width: 4em;
}
.help-block{
	display: none;
}





 /*---------------------footer---------------------*/